<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        var app=angular.module('myapp',[]);
        app.controller("ctrl",["$scope",function($scope)

        { $scope.student={
            firstname:"Himanshu",
            lastname:"saini",
            fullname:function()
        {
            alert("i am in full");
            var name=$scope.student;
            return name.firstname+' '+ name.lastname;
        }

        }

        }
        ]);
    </script>
</head>
<body ng-app="myapp" ng-controller="ctrl">
<input type="text" ng-model="student.firstname">
<input type="text" ng-model="student.lastname">
<h1>Name in UpperCase are: {{ student.fullname() | uppercase }}</h1>


</body>
</html>
